body {
  background-color: black;
  background-image: none;
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
}

img {
  border-radius: 50%;
  height: 250px;
  width: 200px;
}

p {
  color: palevioletred;
}

#text-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#img-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn.btn-primary {
  width: 90%;
  background-color: chartreuse;
  color: palevioletred;
  border: 5px solid pink;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
}
